{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input name="password" class="form-control" autofocus type="password" placeholder="Password">
        </div>

        <div class="form-group">
            <input name="new" class="form-control" autofocus type="password" placeholder="New password">
        </div>

        <div class="form-group">
            <input name="confirmed" class="form-control" autofocus type="password" placeholder="Confirmed new password">
        </div>

        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock%}